/*global style for body*/
body {
  background-color: #000000; /* or just black */
  text-align: center;color: #FFFFFF; /* white */
  font-family: Arial, sans-serif;
}

/* row style*/
.row {
    display: flex;
    justify-content: center;
  }

.number, .operator {                        width: 50px;
  height: 50px;
  margin: 5px;
  border: 2px solid #DDDDDD;
  padding: 2px;
  text-align: center;
  line-height: 25px;
  border-radius: 1px;
  user-select: none;
  cursor: pointer; /*adds a pointer cursor    to hover over buttons*/
}

.operator {
  background-color: #FF0000;
  color: #FFFFFF;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
}

#display {
  width: 100%;
  height: 10vh;
  background-color: black;
  color: green;
}

#calc-mode {
  background-color: #777777;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 50%;;
  transform: translateX(-50%);
  padding: 0.5px;
}
