body {
  background-color: #000000;
  text-align: center;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
}

.upper-rows {
  display: flex;
  justify-content: space-between;
}

.head-button {
  width: 45%; /* Adjust the width as needed */
  background-color: #fff;
  color: #000;
  justify-content: space-between;
}

.comp-operator {
  background-color: blue;
  color: #fff;
  width: 20%;
  height: 25%;
  margin: 2px;
  border: 2px solid #CCCCCC;
  padding: 1px;
  text-align: center;
  line-height: 15px;
  user-select: none;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
}

.number,
.operator {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 2px solid #DDDDDD;
  padding: 2px;
  text-align: center;
  line-height: 20px;
  border-radius: 1px;
  user-select: none;
  cursor: pointer;
}

.operator {
  background-color: #FF0000;
  color: #FFFFFF;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
}

#display {
  width: 100%;
  height: 10vh;
  background-color: black;
  color: green;
}

#calc-mode {
  background-color: #777777;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  position:
}

