/* reset some sefault style to ensure consistent rendering among browser*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  text-align: center;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  overflow: hidden; /*prevent scrolling*/
}

.upper-rows {
  display: flex;
  justify-content: space-between;
}

.head-button {
  width: 20%;
 /* height: 20px;*/
  border-radius: 50px;
  background-color: #fff;
  color: #000;
  justify-content: space-between;
  margin-bottom: 5px;
}

.comp-operator {
  background-color: #000080;
  color: #fff;
  width: 20%;
  height: 15%;
  margin: 3px;
  border: 2px solid #CCCCCC;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  line-height: 15px;
  user-select: none;
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.number,
.operator {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 2px solid #DDDDDD;
  padding: 2px;
  text-align: center;
  line-height: 20px;
  border-radius: 1px;
  user-select: none;
  cursor: pointer;
}

.operator {
  background-color: #FF0000;
  color: #FFFFFF;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
}

#display {
  width: 100%;
  height: 10vh;
  padding-left: 5px;
  background-color: black;
  justify-content: space-between;
  color: #00FF00;
}

.shift-calc {
  background-color: #777777;
  display: flex;
  justify-content: space-between;
}

/*#shift-btn, #calc-mode {
  justify-content: center;
  align-items: center;
}*/

#calc-mode {
  padding-left: 50%;
  color: #FFFFFF;
}

#shift-btn {
  padding-right: 5px;
  color: orange;
}

/*Make the row button responsive*/
@media (max-width: 768px) {
  .number, .operator {
    width: 50px;
  }
}
